@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --primary-color: #355872;
    --secondary-color: #7AAACE;
    --tercery-color: #EBF4F6;
    --white: #F7F8F0;
    --white-font: #fff;
    --black: #000000;
    --gray-dark: #1e1e1e;
}

html{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'arvo', serif;
    background-color: var(--tercery-color);
    color: var(--gray-dark);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
